---
# The name of your project
title: Spring Roo Project
tags: Spring, Spring Roo, development, Java
lang: en

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: SpringRoo

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-roo
      icon: github

    - name: Issues (JIRA)
      url:  http://jira.spring.io/browse/ROO
      icon: tracking

    - name: CI (Bamboo)
      url: https://build.spring.io/browse/ROO
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-roo
      icon: stackoverflow

---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->

{% capture billboard_description %}
A next-generation rapid application development tool for Java developers. With Roo you can easily build full Java applications in minutes.

{% endcapture %}

{% capture main_content %}

## Instant Results - Making Java Fun

Spring Roo is a lightweight developer tool that makes it fast and easy to deliver instant results. Best of all, you code 100% in Java and get to reuse all your existing Java knowledge, skills and experience.

Spring Roo differs from other productivity tools by focusing on:

* Rapid results
* 100% develop in Java
* Easy-to-use
* Fast and simple to remove
* Totally compromise free
* Active, helpful community
* Comprehensive technology integrations
* Extension points via Roo add-ons
* Spring-certified architecture

## Exciting Features - SOLR, CLOUD, FLEX,...

MVC applications with JPA are a breeze with Roo, but it also eases your journey into the next generation of technology. We already support cool features like Solr for search server integration and cloud deployment like Google App Engine. Plus we have incremental database introspection, Flex, Spring Integration and much more actively in development.

## Zero Risks - Productivity Without Compromise

With Roo you still program everything in Java. Its innovative approach operates entirely at compile-time and is completely compatible with your IDE. Plus because there's no runtime portion, adoption is also simplified and low risk. All your Java developers will feel comfortable and be productive from day one. Roo really represents productivity without compromise.


## Quick Start

### Pre-requisites

To start with Spring Roo you need:

* [JDK 1.6 or JDK 1.7]( http://www.oracle.com/technetwork/java/javase/downloads/index.html)
* [Maven 3.2 or above]( http://maven.apache.org/download.html )
* Internet access so that Maven can download required dependencies


### Working with Spring Tool Suite (STS)

Depending on the version of Spring Roo you are using you must install the
appropriate STS:

* Install STS 3.7.0 to work with Spring Roo 2.x. Go to [Spring Roo 2 Reference Documentation]( http://docs.spring.io/spring-roo/docs/2.0.0.M1/reference/html/#install-roo-support ) and follow the instructions.
* Install STS 3.6.2 to work with Spring Roo 1.x. Go to [Spring Roo 1 Reference Documentation]( http://docs.spring.io/spring-roo/docs/1.3.1.RELEASE/reference/html/usage.html#install-roo-support ) and follow the instructions.

### Running from shell

{% include download_widget.md %}

After downloading, unpacking, and installing Roo, try out the following steps to create an application:

```sh
mkdir hello
cd hello
roo
roo> hint
roo> project setup --topLevelPackage com.foo
roo> jpa setup --provider HIBERNATE --database HYPERSONIC_IN_MEMORY
roo> entity jpa --class ~.domain.Timer
roo> field string --fieldName message --notNull
roo> repository jpa --all --package ~.repository
roo> service --all --apiPackage ~.service.api --implPackage ~.service.impl
roo> web mvc setup
roo> web mvc view setup --type THYMELEAF
roo> web mvc controller --all --package ~.web --responseType THYMELEAF
roo> quit
```

{% endcapture %}


{% capture related_resources %}

### Roadmap

* [Looking ahead to Spring Roo 2.0](http://spring.io/blog/2015/03/30/looking-ahead-to-spring-roo-2-0)

### Sample Projects

* [The Northwind application](https://github.com/spring-projects/spring-roo/blob/master/runtime/classpath/src/main/resources/northwind-multimodule.roo)
* [Shop application with REST services](https://github.com/spring-projects/spring-roo/blob/master/runtime/classpath/src/main/resources/restfulshop.roo)
* [The classic Pet Clinic application](https://github.com/spring-projects/spring-roo/blob/master/runtime/classpath/src/main/resources/clinic.roo)


### External Links

* DZone news on [Spring Roo from STS](http://java.dzone.com/articles/working-spring-roo-spring-tool)
* DZone news on [Customizing Spring Roo tagx](https://dzone.com/articles/customizing-spring-roo-tagx)
* DZone news on [Spring Boot Apps Using Spring Roo](https://dzone.com/articles/how-to-generate-spring-boot-applications-using-spr)
* DZone news on ["Spring Roo 2.0.0.M2"](https://dzone.com/articles/spring-roo-200m2-released)

### Books Spring Roo 1.x.

* [Spring Roo in Action](http://www.manning.com/rimple/)
* [Getting Started with Roo](http://shop.oreilly.com/product/0636920020981.do)
* [Spring Roo 1.1 Cookbook](http://oreilly.com/catalog/0636920020981)

### Project Lead

* [DISID Corporation](http://www.disid.com/en/)

{% endcapture %}


{% include project_page.html %}
</html>
