---
# The name of your project
title: Spring Roo Project
tags: Spring, Spring Roo, development, Java
lang: en

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: SpringRoo

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-roo
      icon: github

    - name: Issues (JIRA)
      url:  https://jira.spring.io/browse/ROO
      icon: tracking

    - name: CI (Bamboo)
      url: https://build.spring.io/browse/ROO
      icon: ci

    - name: StackOverflow
      url:  https://stackoverflow.com/questions/tagged/spring-roo
      icon: stackoverflow

---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->

{% capture billboard_description %}
A next-generation rapid application development tool for Java developers. With Roo you can easily build full Java applications in minutes.

{% endcapture %}

{% capture main_content %}

Spring Roo is a lightweight developer tool that makes it fast and easy to deliver instant results. Best of all, you code 100% in Java and get to reuse all your existing Java knowledge, skills and experience.

Spring Roo differs from other productivity tools by focusing on:

* Rapid results
* 100% develop in Java
* Easy-to-use
* Fast and simple to remove
* Totally compromise free
* Active, helpful community
* Comprehensive technology integrations
* Extension points via Roo add-ons
* Spring-certified architecture

## Exciting Features - Spring Boot, Spring Data, ...

Create Spring web applications is easier than ever with Roo, but it also eases your journey into the next generation of technology.

Spring Roo generates applications focused on newer Spring technologies like Spring IO platform, Spring Data, etc. Indeed, Spring Roo creates Spring Boot applications.

Roo already supports cool features like REST API scaffolding and SOAP clients and SOAP services generation for easier integration with external systems. Plus we have incremental database introspection, Thymeleaf views, Spring Web Flow, Spring Security and much more actively in development.

## Zero Risks - Productivity Without Compromise

With Roo you still program everything in Java. Its innovative approach operates entirely at compile-time and is completely compatible with your IDE. Plus because there's no runtime portion, adoption is also simplified and low risk. All your Java developers will feel comfortable and be productive from day one. Roo really represents productivity without compromise.

The [reference guide](https://docs.spring.io/spring-roo/docs/2.0.x/reference/html/) includes detailed descriptions of all the features, plus an extensive user guide for main use cases.

## Quick Start

### Pre-requisites

To get started, please ensure you have the [required system dependencies](https://docs.spring.io/spring-roo/docs/2.0.x/reference/html/#getting-started-requirements).

### Working with Spring Tool Suite (STS)

To install Spring Roo 2.0 on your STS 3.8.2+ read the reference documentation [installation guide](https://docs.spring.io/spring-roo/docs/2.0.x/reference/html/#getting-started-install-roo).

### Running Roo

Finally, open your STS IDE and [create your Spring Roo project](https://docs.spring.io/spring-roo/docs/2.0.x/reference/html/#using-spring-roo-create-boot-app).

### Running from shell

{% include download_widget.md %}

Most of the times you will use Roo in STS IDE but sometimes it is missed the possibility to run Roo from the terminal.

Roo is a standard Java application that is fully self-contained within the Roo distribution ZIPs. So if you prefer, you can download Roo from one of the download sites, and run it from the terminal.

After downloading, unpacking, and installing Roo, try out the following steps to create an application:

```sh
mkdir hello
cd hello
roo.sh
roo> project setup --topLevelPackage com.foo
roo> jpa setup --provider HIBERNATE --database HYPERSONIC_IN_MEMORY
roo> entity jpa --class ~.domain.Timer
roo> field string --fieldName message --notNull
roo> repository jpa --all
roo> service --all
roo> web mvc setup
roo> web mvc view setup --type THYMELEAF
roo> web mvc controller --all --responseType THYMELEAF
roo> web mvc controller --all --pathPrefix /api
roo> quit
mvn spring-boot:run
```

{% endcapture %}


{% capture related_resources %}

### Roadmap

* [Looking ahead to Spring Roo 2.0](https://spring.io/blog/2015/03/30/looking-ahead-to-spring-roo-2-0)

### Sample Projects

* [The Northwind application](https://github.com/spring-projects/spring-roo/blob/master/runtime/classpath/src/main/resources/northwind-multimodule.roo)
* [Shop application with REST services](https://github.com/spring-projects/spring-roo/blob/master/runtime/classpath/src/main/resources/restfulshop.roo)
* [The classic Pet Clinic application](https://github.com/spring-projects/spring-roo/blob/master/runtime/classpath/src/main/resources/clinic.roo)


### External Links

* DZone news on [Spring Roo from STS](https://dzone.com/articles/working-spring-roo-spring-tool)
* DZone news on [Customizing Spring Roo tagx](https://dzone.com/articles/customizing-spring-roo-tagx)
* DZone news on [Spring Boot Apps Using Spring Roo](https://dzone.com/articles/how-to-generate-spring-boot-applications-using-spr)
* DZone news on ["Spring Roo 2.0.0.M3"](https://dzone.com/articles/spring-roo-200m3-released)

### Books Spring Roo 1.x.

* [Spring Roo in Action](https://www.manning.com/rimple/)
* [Getting Started with Roo](https://shop.oreilly.com/product/0636920020981.do)
* [Spring Roo 1.1 Cookbook](https://oreilly.com/catalog/0636920020981)

### Project Lead

* [DISID Corporation](https://www.disid.com/)

{% endcapture %}


{% include project_page.html %}
</html>
