.listingblock .pygments .hll { background-color: #ffffcc }
.listingblock .pygments  { background: #ffffff; }
.listingblock .pygments .tok-c { font-style: italic } /* Comment */
.listingblock .pygments .tok-err { border: 1px solid #FF0000 } /* Error */
.listingblock .pygments .tok-k { font-weight: bold } /* Keyword */
.listingblock .pygments .tok-cm { font-style: italic } /* Comment.Multiline */
.listingblock .pygments .tok-c1 { font-style: italic } /* Comment.Single */
.listingblock .pygments .tok-cs { font-style: italic } /* Comment.Special */
.listingblock .pygments .tok-ge { font-style: italic } /* Generic.Emph */
.listingblock .pygments .tok-gh { font-weight: bold } /* Generic.Heading */
.listingblock .pygments .tok-gp { font-weight: bold } /* Generic.Prompt */
.listingblock .pygments .tok-gs { font-weight: bold } /* Generic.Strong */
.listingblock .pygments .tok-gu { font-weight: bold } /* Generic.Subheading */
.listingblock .pygments .tok-kc { font-weight: bold } /* Keyword.Constant */
.listingblock .pygments .tok-kd { font-weight: bold } /* Keyword.Declaration */
.listingblock .pygments .tok-kn { font-weight: bold } /* Keyword.Namespace */
.listingblock .pygments .tok-kr { font-weight: bold } /* Keyword.Reserved */
.listingblock .pygments .tok-s { font-style: italic } /* Literal.String */
.listingblock .pygments .tok-nc { font-weight: bold } /* Name.Class */
.listingblock .pygments .tok-ni { font-weight: bold } /* Name.Entity */
.listingblock .pygments .tok-ne { font-weight: bold } /* Name.Exception */
.listingblock .pygments .tok-nn { font-weight: bold } /* Name.Namespace */
.listingblock .pygments .tok-nt { font-weight: bold } /* Name.Tag */
.listingblock .pygments .tok-ow { font-weight: bold } /* Operator.Word */
.listingblock .pygments .tok-sb { font-style: italic } /* Literal.String.Backtick */
.listingblock .pygments .tok-sc { font-style: italic } /* Literal.String.Char */
.listingblock .pygments .tok-sd { font-style: italic } /* Literal.String.Doc */
.listingblock .pygments .tok-s2 { font-style: italic } /* Literal.String.Double */
.listingblock .pygments .tok-se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
.listingblock .pygments .tok-sh { font-style: italic } /* Literal.String.Heredoc */
.listingblock .pygments .tok-si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
.listingblock .pygments .tok-sx { font-style: italic } /* Literal.String.Other */
.listingblock .pygments .tok-sr { font-style: italic } /* Literal.String.Regex */
.listingblock .pygments .tok-s1 { font-style: italic } /* Literal.String.Single */
.listingblock .pygments .tok-ss { font-style: italic } /* Literal.String.Symbol */