<div>
	<a class="pull-right btn btn-primary btn-outline btn-rounded" ui-sref="entities">
		Back
	</a>
	<h3>New Entity</h3>
	<div class=jumbotron>
		<div ng-show="success != null" class="{{messageClass}}">{{message}}</div>
	 	<div ng-show="!projectExists" class="alert alert-danger">You have to create new Spring
		Roo Project to generate new entities. <a href="index.html#/dashboard/project">Create Project</a></div>
		<div ng-show="!persistenceExists" class="alert alert-danger">You have to configure persistence
		 to be able to manage entities. <a href="index.html#/dashboard/persistence">Configure Persistence</a></div>
		<br>
		<form ng-submit="processCreateEntity()">
		 	<div class="form-group">
			  <label for="entityName">Entity Name:</label>
			  <input class="form-control" ng-model="formData.entityName" ng-disabled="!entitiesAvailable" required>
			</div>
			<div class="form-group">
			  <label for="entityName">Extends:</label>
			  <select class="form-control"
				ng-options="item.entityName as item.entityName for item in entities" 
				ng-model="formData.extends" ng-disabled="!entitiesAvailable" required></select>
			</div>
	 		<div class="form-group">
			  <label for="entityName">Abstract:</label>
			  <input type="checkbox" ng-model="formData.isAbstract" ng-disabled="!entitiesAvailable">
			</div>
			<br/>
			<div class="form-group" >
				<input value="Apply" type="submit" class="form-control btn-primary" ng-disabled="!entitiesAvailable">
			</div>
		</form>
	</div>
</div>