<div>
  <a class="pull-right btn btn-primary btn-outline btn-rounded"
    ui-sref="entities"> Back </a>
  <h3>New Entity</h3>
  <div class=jumbotron>
    <div class="row">
      <div class="col-sm-12">
        <div ng-show="success != null" class="{{messageClass}}">{{message}}</div>
        <div ng-show="!projectExists" class="alert alert-danger">
          You have to create new Spring Roo Project to generate new entities. <a
            href="index.html#/dashboard/project">Create Project</a>
        </div>
        <div ng-show="!persistenceExists" class="alert alert-danger">
          You have to configure persistence to be able to manage entities. <a
            href="index.html#/dashboard/persistence">Configure Persistence</a>
        </div>
      </div>
    </div>
    <form class="form-horizontal" ng-submit="processCreateEntity()">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="entityName" class="col-md-2 control-label">Entity
              Name:</label>
            <div class="col-md-10">
              <input class="form-control" ng-model="formData.entityName"
                ng-disabled="!entitiesAvailable" required />
            </div>
          </div>
          <div class="form-group">
            <label for="entityName" class="col-md-2 control-label">Extends:</label>
            <div class="col-md-10">
              <select class="form-control"
                ng-options="item.entityName as item.entityName for item in entities"
                ng-model="formData.extends" ng-disabled="!entitiesAvailable"
                required></select>
            </div>
          </div>
          <div class="form-group">
            <label for="entityName" class="col-md-2 control-label">Abstract:</label>
            <div class="col-md-10">
              <input type="checkbox" ng-model="formData.isAbstract"
                ng-disabled="!entitiesAvailable" />
            </div>
          </div>
        </div>
      </div>
      
      <br/>
      
      <div class="form-group">
        <p class="text-center">
          <button name="setup-persistence" type="submit"
            class="form-control btn-primary" role="button"
            ng-disabled="!entitiesAvailable">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Create entity
          </button>
        </p>
      </div>
    </form>
  </div>
</div>