<div>
  <h2>Persistence Configuration</h2>
  <span class="fa fa-database bg-fade"></span>
  <div class=jumbotron>
    <div class=container>
      <form class="form-horizontal" ng-submit="processForm()">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <div ng-show="success != null" class="{{messageClass}}">{{message}}</div>
              <div ng-show="!persistenceAvailable" class="alert alert-danger">
                You have to create new Spring Roo Project to configure
                persistence. <a href="index.html#/dashboard/project">Create
                  Project</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="providerName" class="col-md-1 control-label">Provider:</label>
              <div class="col-md-11">
                <select class="form-control" ng-model="formData.providerName"
                  ng-options="item.providerName as item.providerName for item in ormProviders"
                  ng-disabled="!persistenceAvailable"></select>
              </div>
            </div>
            <div class="form-group">
              <label for="database" class="col-md-1 control-label">Database:</label>
              <div class="col-md-11">
                <select class="form-control" ng-model="formData.database"
                  ng-options="item.databaseName as item.databaseName for item in databases"
                  ng-disabled="!persistenceAvailable"></select>
              </div>
            </div>
            <div class="form-group">
              <label for="username" class="col-md-1 control-label">Username:</label>
              <div class="col-md-11">
                <input type="text" class="form-control"
                  ng-model="formData.username"
                  ng-disabled="!persistenceAvailable">
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-md-1 control-label">Password:</label>
              <div class="col-md-11">
                <input type="password" class="form-control"
                  ng-model="formData.password"
                  ng-disabled="!persistenceAvailable">
              </div>
            </div>
          </div>
        </div>
        
        <br/>

        <div class="form-group">
          <p class="text-center">
            <button name="setup-persistence" type="submit"
              class="form-control btn-primary" role="button"
              ng-disabled="!persistenceAvailable">
              <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Setup persistence
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>