<div>
  <h2>Project Configuration</h2>
  <span class="glyphicon glyphicon-cog bg-fade"></span>
  <div class=jumbotron>
    <div class=container>
      <form class="form-horizontal" ng-submit="processForm()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <div ng-show="success != null" class="{{messageClass}}">{{message}}</div>
            </div>
            <div class="form-group">
              <label for="projectName" class="col-md-3 control-label">Name:</label>
              <div class="col-md-8">
                <input type="text" class="form-control"
                  ng-model="formData.projectName" ng-disabled="projectExists"
                  required />
              </div>
            </div>
            <div class="form-group">
              <label for="topLevelPackage" class="col-md-3 control-label">Package:</label>
              <div class="col-md-8">
                <input type="text" class="form-control"
                  ng-model="formData.topLevelPackage"
                  ng-disabled="projectExists" required />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <p class="text-center">
            <button name="generate-project" type="submit"
              class="btn btn-lg btn-primary" role="button" ng-disabled="projectExists">
              <span class="glyphicon glyphicon-ok"></span> Create
              Project
            </button>
          </p>
        </div>
        <!-- 
				<div class="form-group" >
					<input value="Apply" type="submit" class="form-control btn-primary" ng-disabled="projectExists">
				</div>
        -->
      </form>
    </div>
  </div>
</div>