{% capture billboard_quickstart_button %}
<a class="btn btn-black uppercase project-quickstart-btn" href="/spring-roo/">Home</a>
<a class="btn btn-black uppercase project-marketplace-btn" href="/spring-roo/#quick-start">Quick Start</a>
{% endcapture %}

{% capture content %}
{% include billboard_marketplace.html %}
<div class="github-fork-ribbon--container">
<a href="{{ site.github_repo_url }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{site.baseurl}}/img/forkme.png" alt="Fork me on GitHub"></a>
</div>
<div class="project-body--wrapper">
    <div class="project-body--container container">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span8">
                    <div class="project-body--section">
                        {{ main_content | markdownify }}

                        <!-- Roo Addons Suite incluid (as widget downloads HTML) -->
                        <div id="download-widget">
                          <div class="row-fluid download-widget--container">
                            <div class="download-widget--header js-item-dropdown-widget--wrapper">
                              <div class="download-widget--title"> Roo Addon Suites  </div>
                              <div data-download-widget-controls style="display: inline-block"></div>
                            </div>
                            <div class="download-widget--body">
                              <div class="project-documentation--container marketplace">
                                    <div class="item-dropdown-widget">
                                        <div class="item--dropdown">
                                            <div class="item--body">
                                            <table>
                                              <thead>
                                                <tr class="item--body-title">
                                                  <th>Addon</th>
                                                  <th>Description</th>
                                                  <th>Repository</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                {{ addons }}
                                              </tbody>
                                            </table>
                                           </div>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>

                       {{ addons_git | markdownify }}

                    </div>
                </div>
                <div class="span4">
                    {% include project_marketplace_sidebar.html %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endcapture %}

{% include page.html %}
