
{% capture billboard_quickstart_button %}
<!-- <a class="btn btn-black uppercase project-marketplace-btn" href="marketplace">Marketplace</a> -->
<a class="btn btn-black uppercase project-quickstart-btn" href="#quick-start">Quick Start</a>
<a class="btn btn-black uppercase project-download-btn" href="/spring-roo/#running-from-shell">Download</a>
{% endcapture %}

{% capture content %}
{% include billboard.html %}
<div class="project-body--wrapper">
    <div class="project-body--container">
        <div class="projects--wrapper project-aggregator row-fluid">
{{ main_content | markdownify }}
        </div>
    </div>
</div>
{% endcapture %}
{% include page.html %}
