<!-- Add a new row <tr> for your addon -->
<tr class="item--body--version">

  <!-- Add your addon logo, add your url image in src atribute  -->
  <td>
    <img src="http://www.gvnix.org/assets/themes/gvnix-omega-multilanguage/images/logo-negativo-300.png" />
    <!-- Add your addon title -->
    Title Addon in a line
  </td>

  <!-- Add your short addon description -->
  <td>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
    ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
    ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
  </td>

  <td>
    <!-- link to repository index.xml file, replace href atribute -->
    <a class="icon-folder-open" title="Repository Index URL" href="http://wwww.site.com" target="_blank"></a>
  </td>

</tr>
