#parse ("common.vm")
package $packageName;

import com.google.gwt.valuestore.shared.Record;
#declareImports()

/**
 * Filters an {@link ApplicationPlace} to the corresponding record type.
 */
public final class $className implements ${shared.placeFilter}<Class<? extends Record>> {

#foreach ($ent in $entities) 
	public Class<? extends Record> filter(${ent.detailsPlace} place) {
		return ${ent.record}.class;
	}
#end

	public Class<? extends Record> filter(${shared.listPlace} place) {
		return place.getType();
	}
}