#parse ("common.vm")
package $packageName;

import com.google.gwt.app.place.Activity;
import com.google.gwt.app.place.ActivityMapper;
import com.google.gwt.app.place.Place;
import com.google.gwt.app.place.PlaceController;
import com.google.gwt.app.place.ProxyListPlace;
#declareImports()

/**
 * Instantiates master activities.
 */
public final class ApplicationMasterActivities implements ActivityMapper {
  private final ${shared.requestFactory} requests;
  private final PlaceController placeController;

  public ApplicationMasterActivities(${shared.requestFactory} requests,
      PlaceController placeController) {
    this.requests = requests;
    this.placeController = placeController;
  }

  public Activity getActivity(Place place) {
    if (!(place instanceof ProxyListPlace)) {
      return null;
    }

    ProxyListPlace listPlace = (ProxyListPlace) place;

    return new ApplicationEntityTypesProcessor<Activity>() {
#foreach ($ent in $entities)
      @Override
      public void handle${ent.name}(${ent.record} isNull) {
        setResult(new ${ent.name}ListActivity(requests, placeController));
      }
#end
    }.process(listPlace.getProxyClass());
  }
}
