#parse ("common.vm")
package $packageName;

import com.google.gwt.app.place.ProxyListPlace;
import com.google.gwt.text.shared.AbstractRenderer;
#declareImports()

/**
 * Renders {@link ProxyListPlace}s for display to users.
 */
//TODO i18n
public class ApplicationListPlaceRenderer extends AbstractRenderer<ProxyListPlace> {

  public String render(ProxyListPlace object) {
    return new ApplicationEntityTypesProcessor<String>() {
#foreach ($ent in $entities)
      @Override
      public void handle${ent.name}(${ent.record} isNull) {
        setResult("${ent.name}s");
      }
#end
    }.process(object.getProxyClass());
  }
}
