#parse ("common.vm")
package $packageName;

/**
 * A convenient base implementation of {@link ${shared.placeFilter}}. Just
 * override the methods for the types of places that you actually care about.
 * <p>
 * <strong>NB</strong>It is a bad idea to use this class if your code needs to
 * be extended when new subclasses of {@link ApplicationPlace} are added. If that's
 * the case, implement {@link ${shared.placeFilter}} yourself, so that the
 * compiler will let you know to update your code.
 * 
 * @param <T> the type of the default value
 */
public class $className<T> implements ${shared.placeFilter}<T> {
  private final T defaultValue;
  
  public $className(T defaultValue) {
    this.defaultValue = defaultValue;
  }
#foreach ($ent in $entities)
  public T filter(${ent.detailsPlace} place) {
    return defaultValue;
  }
#end
  public T filter(${shared.listPlace} place) {
    return defaultValue;
  }
}
