#parse("common.vm")
package ${packageName};

import com.google.gwt.app.place.RecordDetailsView;
import com.google.gwt.core.client.GWT;
import com.google.gwt.dom.client.SpanElement;
import com.google.gwt.event.dom.client.ClickEvent;
import com.google.gwt.event.dom.client.HasClickHandlers;
import com.google.gwt.i18n.client.DateTimeFormat;
import com.google.gwt.uibinder.client.UiBinder;
import com.google.gwt.uibinder.client.UiField;
import com.google.gwt.uibinder.client.UiHandler;
import com.google.gwt.user.client.Window;
import com.google.gwt.user.client.ui.Composite;
import com.google.gwt.user.client.ui.HTMLPanel;
import com.google.gwt.user.client.ui.Widget;
#declareImports()

/**
 * Details view for ${entity.name} records.
 */
public class ${className} extends Composite implements RecordDetailsView<${entity.record}> {
	interface Binder extends UiBinder<HTMLPanel, $className> {
	}

	private static final Binder BINDER = GWT.create(Binder.class);

	${entity.record} record;
#foreach ($field in $entity.fields)
	@UiField SpanElement ${field};
#end
	@UiField SpanElement idSpan;
	@UiField SpanElement versionSpan;
	@UiField HasClickHandlers edit;
	@UiField HasClickHandlers delete;

	private Delegate delegate;

	public ${className}() {
		initWidget(BINDER.createAndBindUi(this));
	}

  	public Widget asWidget() {
		return this;
	}
  
	public boolean confirm(String msg) {
		return Window.confirm(msg);
	}

	public ${entity.record} getValue() {
		return record;
	}

	@UiHandler("delete")
	public void onDeleteClicked(@SuppressWarnings("unused") ClickEvent e) {
		delegate.deleteClicked();
	}

	@UiHandler("edit")
	public void onEditClicked(@SuppressWarnings("unused") ClickEvent e) {
		delegate.editClicked();
	}

	public void setDelegate(Delegate delegate) {
		this.delegate = delegate;
	}

	public void setValue(${entity.record} record) {
		this.record = record;
#foreach ($prop in $entity.properties)
		${prop.name}.setInnerText(${prop.formatter}record.${prop.getter}()));
#end
		idSpan.setInnerText(String.valueOf(record.getId()));
		versionSpan.setInnerText(record.getVersion().toString());
	}
}
