#parse("common.vm")
package ${packageName};

import com.google.gwt.app.client.DoubleBox;
import com.google.gwt.app.client.EditorSupport;
import com.google.gwt.app.client.IntegerBox;
import com.google.gwt.app.client.LongBox;
import com.google.gwt.app.place.RecordEditView;
import com.google.gwt.core.client.GWT;
import com.google.gwt.dom.client.DivElement;
import com.google.gwt.dom.client.Element;
import com.google.gwt.dom.client.Style.Display;
import com.google.gwt.event.dom.client.ClickEvent;
import com.google.gwt.uibinder.client.UiBinder;
import com.google.gwt.uibinder.client.UiField;
import com.google.gwt.uibinder.client.UiHandler;
import com.google.gwt.user.client.ui.Button;
import com.google.gwt.user.client.ui.Composite;
import com.google.gwt.user.client.ui.HTMLPanel;
import com.google.gwt.user.client.ui.InlineLabel;
import com.google.gwt.user.client.ui.TextBox;
import com.google.gwt.user.datepicker.client.DateBox;
import com.google.gwt.valuestore.shared.Property;

#declareImports()
import java.util.Map;
import java.util.Set;

/**
 * Edit view for ${entity.name} records.
 */
public class ${className} extends Composite implements RecordEditView<${entity.record}> {
	interface Binder extends UiBinder<HTMLPanel, ${className}> {
	}

	interface DataBinder extends EditorSupport<${entity.record}, ${className}> {
	}

	private static final Binder BINDER = GWT.create(Binder.class);
	private static final DataBinder DATA_BINDER = GWT.create(DataBinder.class);

#foreach ($prop in $entity.properties)
	@UiField ${prop.editor} ${prop.name};
#end
	@UiField Button cancel;
	@UiField Button save;
	@UiField InlineLabel id;
	@UiField InlineLabel version;
	@UiField DivElement errors;

	@UiField Element editTitle;
	@UiField Element createTitle;

	private Delegate delegate;

	private ${entity.record} record;

	public ${className}() {
		initWidget(BINDER.createAndBindUi(this));
		DATA_BINDER.init(this);
	}

	public ${className} asWidget() {
		return this;
	}	

	public Set<Property<?>> getProperties() {
		return DATA_BINDER.getProperties();
	}

	public ${entity.record} getValue() {
		return record;
	}

	public boolean isChanged() {
		return DATA_BINDER.isChanged(this);
	}

	public void setCreating(boolean creating) {
		if (creating) {
			editTitle.getStyle().setDisplay(Display.NONE);
			createTitle.getStyle().clearDisplay();
		} else {
			editTitle.getStyle().clearDisplay();
			createTitle.getStyle().setDisplay(Display.NONE);
		}
	}

	public void setDelegate(Delegate delegate) {
		this.delegate = delegate;
	}

	public void setEnabled(boolean enabled) {
		DATA_BINDER.setEnabled(this, enabled);
		save.setEnabled(enabled);
	}

	public void setValue(${entity.record} value) {
		this.record = value;
		DATA_BINDER.setValue(this, value);
	}

	public void showErrors(Map<String, String> errorMap) {
		DATA_BINDER.showErrors(this, errorMap);
	}

	@UiHandler("cancel")
	void onCancel(@SuppressWarnings("unused") ClickEvent event) {
		delegate.cancelClicked();
	}

	@UiHandler("save")
	void onSave(@SuppressWarnings("unused") ClickEvent event) {
		delegate.saveClicked();
	}
}
