#parse ("common.vm")
package ${packageName};

import com.google.gwt.app.place.AbstractRecordEditActivity;
import com.google.gwt.app.place.PlaceController;
import com.google.gwt.app.place.RecordEditView;
import com.google.gwt.requestfactory.shared.Receiver;
import com.google.gwt.valuestore.shared.Value;
#declareImports()

/**
 * An activity that requests all info on an ${entity.name}, allows the user to edit
 * it, and persists the results.
 */
public class $className extends AbstractRecordEditActivity<${entity.record}> {
	private static RecordEditView<${entity.record}> defaultView;

	private static RecordEditView<${entity.record}> getDefaultView() {
		if (defaultView == null) {
			defaultView = new ${entity.editView}();
		}
		return defaultView;
	}

	private final ApplicationRequestFactory requests;
	private final PlaceController<ApplicationPlace> placeController;

	/**
	 * Creates an activity that uses the default singleton view instance.
	 */
	public $className(Long id, ApplicationRequestFactory requests, PlaceController<ApplicationPlace> placeController) {
		this(id, getDefaultView(), requests, placeController);
	}

	/**
	 * Creates an activity that uses its own view instance.
	 */
	public $className(Long id, RecordEditView<${entity.record}> view, ApplicationRequestFactory requests, PlaceController<ApplicationPlace> placeController) {
		super(view, id, requests, requests.${entity.nameUncapitalized}Request().persist());
		this.requests = requests;
		this.placeController = placeController;
	}

	protected void exit() {
		placeController.goTo(new ${entity.detailPlace}(getId(), Operation.DETAILS));
	}

	protected void fireFindRequest(Value<Long> id, Receiver<${entity.record}> callback) {
		requests.${entity.nameUncapitalized}Request().find${entity.name}(id).fire(callback);
	}

	protected Class getRecordClass() {
		return ${entity.record}.class;
	}
}
