#parse ("common.vm")
package $packageName;

import com.google.gwt.app.place.Activity;
import com.google.gwt.app.place.ActivityMapper;
import com.google.gwt.app.place.PlaceController;
import com.google.gwt.event.shared.HandlerManager;
import com.google.gwt.valuestore.ui.AbstractRecordListActivity;
#declareImports()

/**
 * The class that knows what {@link com.google.gwt.app.place.Activity} to run
 * when the user goes to a particular {@link ListScaffoldPlace}.
 */
public class $className implements ActivityMapper<${shared.listPlace}> {
  private final ${shared.requestFactory} requests;
  private final PlaceController<${shared.applicationPlace}> placeController;
  private HandlerManager eventBus;

  public $className(HandlerManager eventBus,
      ${shared.requestFactory} requests,
      PlaceController<${shared.applicationPlace}> placeController) {
    this.eventBus = eventBus;
    this.requests = requests;
    this.placeController = placeController;
  }

  public AbstractRecordListActivity<?> getActivity(${shared.listPlace} place) {
#foreach ($ent in $entities) 
    if (place.getType().equals(${ent.record}.class)) {
      return new ${ent.listActivity}(eventBus, requests, placeController);
    }
#end
    throw new RuntimeException("Unable to locate a activity for " + place);
  }
}
