#parse ("common.vm")
package $packageName;

import com.google.gwt.app.place.Activity;
import com.google.gwt.app.place.ActivityMapper;
import com.google.gwt.app.place.PlaceController;
#declareImports()

/**
 * Finds the activity to run for a particular {@link ScaffoldPlace} in the bottom
 * half of the {@link ScaffoldShell}.
 */
public final class $className implements ActivityMapper<${shared.applicationPlace}> {
#foreach ($ent in $entities)
	private final ActivityMapper<${ent.detailsPlace}> ${ent.nameUncapitalized}Activities;
#end  
	
	public $className(${shared.requestFactory} requestFactory, PlaceController<${shared.applicationPlace}> placeController) {
#foreach ($ent in $entities)
		this.${ent.nameUncapitalized}Activities = new ${ent.activitiesMapper}(requestFactory, placeController); 
#end
	}

	public Activity getActivity(${shared.applicationPlace} place) {
		return place.acceptFilter(new ${shared.basePlaceFilter}<Activity>(null) {
#foreach ($ent in $entities)
			public Activity filter(${ent.detailsPlace} place) {
				return ${ent.nameUncapitalized}Activities.getActivity(place);
			}
#end
		});
	}
}
