<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="https://www.springframework.org/schema/beans" xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns="https://www.springframework.org/schema/data/jpa"
  xsi:schemaLocation="https://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd https://www.springframework.org/schema/data/jpa https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

  <repositories base-package="TO_BE_CHANGED_BY_ADDON" />

</beans:beans>