---
# The name of your project
title: Spring Roo Marketplace
permalink: marketplace/
---

<!DOCTYPE HTML>
<html lang="en-US">
{% capture billboard_description %}

The alternative to Roobot, easier to maintain and available for everyone,
a place to find and keep track on third party addons and Roo Addon Suites.

{% endcapture %}


{% capture main_content %}

<a name="roo-addon-suites"></a>

## Roo Addon Suites

A *Roo Addon Suite* is a great way to package and distribute a set of add-ons
together, for example if you want to distribute Roo custom distributions.
Roo Addon Suite is based on OSGi R5 Subsystems that provides a really convenient
deployment model, without compromising the modularity of Roo.

{% endcapture %}

{% capture addons %}
{% include roo_addons_suites.html %}
{% endcapture %}

{% capture addons_git %}

To submit your own Roo Addon Suite to this page, just send a pull request with
the addition to Spring Roo repo&#8217;s
[gh-pages branch](https://github.com/spring-projects/spring-roo/blob/gh-pages/_includes/roo_addons_suites.html)
(<i>roo_addons_suites.html</i> file).

Thanks to the awesome community behind Spring Roo!

{% endcapture %}

{% capture related_resources %}

## Getting Started

Spring Roo Addon Suites make it easy to manage 3rd party add-ons. To install a Roo Addon Suite:

1. Run Spring Roo 2.0
2. Install the URL of the repository that contains the Roo Addon Suite:

    ```
    roo> addon repository add --url https://host/repo/index.xml
    ```
    Look the table on the left, the _REPOSITORY_ column contains the URL of the repository for each Roo Addon Suite published in this marketplace. Just copy it and feel free to use the URL in the command above.
3. To know how many Roo Addon Suites contains the repository, you run the command below:

    ```
    roo> addon suite list --repository https://host/repo/index.xml
    ```
    You will see the list of Roo Addon Suite symbolic names available in that repository, something like:

    ```
    Getting all 'Roo Addon Suites' located on 'https://host/repo/index.xml' repository...

    [SYMBOLIC NAME OF THE ROO ADDON SUITE 1]
    [SYMBOLIC NAME OF THE ROO ADDON SUITE 2]

    2 Roo Addon Suites were found on 'https://host/repo/index.xml' repository
    ```
4. Then install the Roo Addon Suite as follows:

    ```
    roo> addon suite install name --symbolicName [SYMBOLIC NAME OF THE ROO ADDON SUITE]
    ```
    On success installation you will see something like:

    ```
    Installing subsystem...
    Subsystem successfully installed: [SYMBOLIC NAME OF THE ROO ADDON SUITE]; id:
    ```
    Now you have new addons and commands in Roo, run help to see them.

Enjoy with Roo!

{% endcapture %}

{% include project_marketplace.html %}
</html>
