<div class=dashboard-page>
	<div class=container-fluid>
		<div class=row>
		
			<!-- Side Bar -->
			<div class="sidebar">
				<ul class="nav nav-sidebar">
					<li ng-class="{active: $state.includes('home')}"><a class="fa fa-home"
						ui-sref=home></a></li>
					<li ng-class="{active: $state.includes('project')}"><a class="fa fa-cogs"
						ui-sref=project></a></li>
					<li ng-class="{active: $state.includes('persistence')}"><a class="fa fa-database"
						ui-sref=persistence></a></li>
					<li ng-class="{active: $state.includes('entities')}"><a class="fa fa-sitemap"
						ui-sref=entities></a></li>
					<br />
				</ul>
			</div>
			
			<!-- Main View -->
			<div class="col-sm-offset-1 col-md-offset-1 main"
				ui-view="">
			</div>
			
		</div>
	</div>
</div>