<div class=dashboard-page>
	<div class=container-fluid>
		<div class=row>
		
			<!-- Side Bar -->
			<div class="sidebar">
				<ul class="nav nav-sidebar">
					<li ng-class="{active: $state.includes('home')}"><a class="fa fa-home"
						ui-sref=home></a></li>
					<li ng-class="{active: $state.includes('project')}"><a class="fa fa-cogs"
						ui-sref=project></a></li>
					<li ng-class="{active: $state.includes('persistence')}"><a class="fa fa-database"
						ui-sref=persistence></a></li>
					<li ng-class="{active: $state.includes('entities')}"><a class="fa fa-sitemap"
						ui-sref=entities></a></li>
					<!-- <li ng-class="{active: $state.includes('web')}"><a class="fa fa-home"
						ui-sref=web></a></li>
					<li ng-class="{active: $state.includes('repositories')}"><a class="fa fa-home"
						ui-sref=repositories></a></li>
					<li ng-class="{active: $state.includes('addons')}"><a class="fa fa-home"
						ui-sref=addons></a></li>
					<li ng-class="{active: $state.includes('suites')}"><a class="fa fa-home"
						ui-sref=suites></a></li>-->
					<br />
				</ul>
			</div>
			
			<!-- Main View -->
			<div class="col-sm-offset-1 col-md-offset-1 main"
				ui-view="">
			</div>
			
			<!-- Shell View -->
			<!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 shell" ng-controller="ShellCtrl">
				<div class="shell-tab">Roo Shell</div>
				<div class="shell-content">
					<br/>
					Syncronizing Web Tool with Roo Shell...
				</div>
				<br/>
				<div>
					<form>
						<input class="form-control" ng-keypress="onPressIntro($event.keyCode)" ng-model="formData.command">
					</form>
				</div>
			</div>-->
		</div>
	</div>
</div>